body
{
    background-color: #333333;
    color: white;
}

#content
{
    text-align: center;
}

#header
{
    background-color: black;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: xx-large;
    padding: 15px 5px 15px 5px;
}

#label-header
{
    font-size: x-large;
    color: #9146ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submit
{
    color: white;
    background-color: #9146ff;
    height: 34px;
    width: 220px;
    padding: 5px 8px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #9146ff;;
}

#submit:hover
{
    color: #111;
    font-weight: bolder;
}

#input
{
    background-color: #111;
    color: white;
    border: 4px solid black;
    height: 16px;
    width: 196px;
    padding: 5px 8px;
    border-radius: 4px;
}